Source: fontviewer
Section: x11
Priority: extra
Maintainer: Patrick Sturm <siyb@geekosphere.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://siyb.mount.at/

Package: fontviewer
Architecture: all
Depends: ${misc:Depends}
Description: A simple fontviewer, written in TCL/TK
 Jet another fontviewer, written in TCL/TK. Includes
a file preview feature.
